* {
margin:0;
padding:0;
}

html {
scroll-behavior:smooth;
}

.container {
padding: 0 100px 0 100px;
}

@viewport {
width: device-width;
zoom: 1.0;
}

@-ms-width {
width: device-width;
}



/*----------Navigation--------*/
#nav-bar {
background-color: #F78888;
position: sticky;
top:0;
z-index:10;
}
.navbar-brand img {
height:50px;
padding-left:30px;
}
.navbar-nav li {
padding:0 20px;
}
.navbar-nav li a {
float:right;
text-align:left;
}
#nav-bar ul li a:hover {
color: #5486ac!important;
}
.navbar {
background: #deb887;
}
.navbar-toggler {
border: none!important;
}
.nav-link {
font-family: Arial;
color:#fff!important;
font-weight: 600;
font-size: 16px;
}

/*----------Main section--------*/
#main-section {
background-color: #984D63;
}
.main-info-section {
height: calc(100vh -50px);
}
.text {
text-align: left;
font-family: Bahnschrift SemiBold;
font-size: 24px;
margin-top: 0px;
padding-top: 30px;
padding-bottom: 30px;
}
.text h1 {
text-align: left;
letter-spacing: 3px;
color: #fff;
fontsize: 4rem;
cursor: context-menu;
}
.text span {
display: inline-block;
}
span:hover {
color: #5486ac;
transition: all .9s;
}
span.name {
color: #1d5380;
}
span.name:hover {
color: #fff;
transition: all .9s;
}
span.m-left {
margin-left: -10px;
}
.text p {
text-align: left;
color: #fff;
letter-spacing: 3px;
word-spacing: 10px;
font-size: .8rem;
}





/*-----image section--------*/
#img-section {
background-color: #984D63;
}
.img-container {
width: calc(100vw - 60px);
padding-bottom: 30px;
}

}
.main-pic {
width: 25vw;
height: auto;
}
.main-pic .img-box {
width: 25vw;
opacity: 1;
display: block;
position: sticky;
}
.main-pic .img-box img {
filter: opacity(.5);
}
.main-pic .img-box img:hover {
filter: opacity(1);
cursor: pointer;
}
